@{
    ViewData["Title"] = "Calendario";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-9">
            <h2>Calendario</h2>
            <br>
            <p>
                El calendario de siembra es una herramienta que les permite a los agricultores y aficionados saber cuál es el momento ideal para realizar las plantaciones de ciertas especies, como flores, frutas, verduras y hortalizas.
            </p>
            <p>
                Antes de sembrar, trasplantar o recoger tus siembras debes tomar en cuenta si la temporada del año en la que te encuentras es la adecuada para realizar dichas tareas. En los calendarios de siembra hay cierta información que no puedes pasar por alto antes de comenzar con tu huerto en casa:
            </p>
            <p>1.- El período de siembra: este te ayudará a identificar qué mes o estación del año es ideal para realizar la siembra de esa verdura u hortaliza que quieres tener en el suelo de tu terreno.</p>
            <p>2.- El plazo del trasplante: cuánto tiempo debe pasar desde que realizas la siembra hasta que la movilizas hacia el recipiente donde crecerá es la respuesta que encontrarás en este punto de los calendarios de siembra.</p>
            <p>3.- La recogida: considerado como el mejor momento de la cosecha, la recolección hace referencia a la época en la que deberás vestir tus guantes e iniciar la recolección de tus frutos y esfuerzo.</p>
        </div>
    </div>
</div>
<br>
<br>

<!--Componente de tarjeta de Bootstrap 5-->

<div class="container">
    <div class="row">
        <div class="col col-lg-6">
            <div class="card" style="width: 18rem;">
                <img src="~/img/prim.jpg" class="card-img-top" style="width: 337px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Primavera</h5>
                    <h6 class="card-text">Porcentaje de cultivos para plantar:</h6>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                     aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <br><br>
        </div>

        <div class="col col-lg-6">
            <div class="card" style="width: 18rem;">
                <img src="~/img/vera.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Verano</h5>
                    <h6 class="card-text">Porcentaje de cultivos para plantar:</h6>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
            <br><br>
        </div>

        <div class="row">
            <div class="col col-lg-6">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/oto.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Otoño</h5>
                        <h6 class="card-text">Porcentaje de cultivos para plantar:</h6>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                         aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
                <br><br>
            </div>


            <div class="col col-lg-6">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/inv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Invierno</h5>
                        <h6 class="card-text">Porcentaje de cultivos para plantar:</h6>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20"
                         aria-valuemin="0" aria-valuemax="100">20%</div>
                </div>
            </div>
        </div>
    </div>

    <br> <br> <br>
