@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-9">
            <h2>¿Qué son los huertos urbanos?</h2>

            <p>
                Los huertos urbanos son espacios al aire libre o de interior destinados al cultivo de verduras, hortalizas, frutas, legumbres, plantas aromáticas o hierbas medicinales, entre otras variedades, a escala doméstica. Esta práctica se da en el centro o en la periferia de las ciudades, al igual que otros ejemplos de agricultura urbana y periurbana (AUP) como la acuicultura, la ganadería y la silvicultura que proporcionan pescado, carne, lácteos y madera a la comunidad.
            </p>
            <p>
                Los primeros huertos urbanos surgieron con la Revolución Industrial y se popularizaron varias décadas después, durante la Primera y la Segunda Guerra Mundial, cuando las metrópolis británicas y norteamericanas los promovieron entre sus habitantes con fines propagandísticos y para garantizar el suministro de alimentos a la población sin depender de las importaciones. Estos cultivos —conocidos como Jardines de la victoria— llegaron a cubrir casi el 40% del consumo de verduras en Estados Unidos.
            </p>
        </div>
    </div>
</div>

<!--Componente Dropdown de Bootstrap 5-->
<br>
<div class="row">
    <div class="col-md-12 school-options-dropdown text-center">
        <div class="btn-group">

            <button class="btn btn-danger btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Tema
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#Primero">Ventajas</a></li>
                <li><a class="dropdown-item" href="#Segundo">Desventajas</a></li>
                <li><a class="dropdown-item" href="#Tercero">¿Qué necesitas para empezar?</a></li>
                <li><a class="dropdown-item" href="#Cuarto">Plantar en donde sea</a></li>
                <li><a class="dropdown-item" href="#Quinto">Riego</a></li>
            </ul>
        </div>
    </div>
</div>
<br>
<!--Componente alerta de Bootstrap 5-->
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <div class="alert alert-primary d-flex align-items-center container-sm container-fluid" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <div>
                    <h6>Te dirigirá al tema seleccionado en la página</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-12">
            <div>
                <a name="Primero"></a>
                <h2>Ventajas</h2>
                <img class="foto1" src="img/tomate.jpeg" width="250px" class="img-fluid">
                <ul id="listas">
                    <p>1.- Mayor rendimiento de la tierra</p>
                    <p>2.- Las plantaciones domésticas pueden producir hasta 15 veces más que una explotación rural y llegar a los 20 kg anuales de alimento por m2.</p>
                    <p>3.- Idóneos para cultivar hortalizas</p>
                    <p>4.- Más justos y sostenibles</p>
                    <p>5.- Aumentan la calidad alimentaria y medioambiental</p>
                    <p>6.- Los huertos urbanos reducen el número de intermediarios y favorecen el ahorro de transporte, envasado y almacenamiento.</p>
                </ul>

                <br><br><br><br><br>
                <a name="Segundo"></a>
                <h2>Desventajas</h2>
                    <p>1.- Contaminación involuntaria</p>
                    <p>2.- La agricultura urbana puede provocar ruidos y olores, además de poner en riesgo la salud humana y el medio ambiente si se filtran pesticidas y abonos orgánicos a las fuentes de agua</p>
                    <p>3.- Se necesita mucho espacio</p>
                    <p>4.- Ensucia mucho</p>


                    <a name="Tercero"></a>
                    <h2>¿Qué necesitas para iniciar?</h2>
<p>
                    <img class="foto2" src="img/mesa.jpg" width="250px" class="img-fluid">
                    Después de conocer los beneficios de un huerto urbano no tendrás dudas a la hora de promover uno en tu comunidad.

                    Sin embargo y para que tengas éxito necesitarás herramientas y semillas. Una vez que comiences debes tener mucha paciencia, porque antes de ver los primeros resultados deberás regar el huerto regularmente.

                    Además, debes asegurarte de que el suelo reciba el calor adecuado y quitar la maleza que irá apareciendo con el tiempo.
                </p>
                <p>
                    También necesitarás algunas herramientas específicas como un kit de cultivos, bandejas, macetas, bulbos de plantas, jardinera, cortadora de media luna y escoba de metal, podadoras y un cuchillo de jardinero.
                </p>
                <br><br>
                <a name="Cuarto"></a>
                <h2>Plantar en donde sea</h2>
                <p>
                    Hay ventajas para las personas con poco espacio, como lo son el poder plantar hasta en cualquier maceta ciertos tipos de hortaizas.
                </p>
                <p>
                    Las macetas deben ser lo más grandes posible, aunque algunas hortalizas como lechugas o cebollas pueden crecer bien en pequeños tiestos siempre que no les falte agua.
                </p>
                <p>
                    En general, hay que buscar contenedores con una profundidad de entre 20 y 40 cm para que las raíces puedan desarrollarse bien.
                </p>
                <p>
                    Los mejores resultados se obtienen con grandes macetones o jardineras ya que mantienen la humedad más constante y las raíces se recalientan menos.
                </p>
                <p>
                    Las macetas de color blanco son ideales para el verano ya que mantienen las raíces más frescas mientras que las de color negro, que absorben el calor del sol, son más adecuadas para los meses fríos.
                </p>

                <a name="Quinto"></a>
                <h2>Riego</h2>
                <p>
                    <img class="foto3" src="img/Tomate_2.jpg" width="250px" class="img-fluid">
                    Es el principal cuidado que necesita un huerto, en especial cuando las plantas crecen en macetas, donde la cantidad de humedad disponible es mucho menor que en el suelo.

                    En primavera y otoño, salvo que llueva, las plantas necesitan riego cada dos o tres días, mientras que en verano el riego debe ser diario.
                </p>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
